# Virtual environments
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
.pytest_cache/
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment
.env

# Large datasets
data/raw/
data/processed/final_cleaned_dataset.csv
data/processed/cleaned_online_retail.csv

# Jupyter
.ipynb_checkpoints/

# Streamlit secrets
.streamlit/secrets.toml